body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}
#Calculator{
    font-family: Arial, sans-serif;
    background-color: rgb(153, 152, 160);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding:20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgb(234, 0, 255);

}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;

}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(54, 25, 54);
    color: rgb(255, 3, 150);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(300, 100%, 30%);
}
button:active{
    background-color: hsl(300, 100%, 50%);
    
}
.operator-btn{
    background-color: hsl(165, 68%, 32%);
}
.operator-btn:hover{
    background-color: hsl(165, 68%, 65%);
}
.operator-btn:active{
    background-color: hsl(165, 68%, 30%);
}